@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4">ANKARA KOLEJİ</h1>

</div>
<div style="text-align:center">
    <img src="~/img/kolej_koleji.jpg" alt="Ankara Koleji" />
</div>

