@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 style="text-align:center">HAKKIMIZDA</h1>
<br />
<br />  
<div>
    <div>

        <p style="color:aliceblue !important;text-align:justify">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget ipsum dapibus, blandit neque interdum, hendrerit ex. Integer efficitur in metus id posuere. Integer dapibus nec enim in euismod. Quisque id magna tempus, egestas ex ut, laoreet justo. In hendrerit felis eget arcu faucibus vestibulum. Maecenas aliquet nisi non dignissim placerat. Maecenas ac euismod metus, id tempor est. Maecenas id iaculis lectus. Cras tristique viverra nulla, at finibus nisl consequat ut. In imperdiet vulputate placerat. Mauris pharetra magna sit amet mauris finibus, sit amet efficitur augue finibus. Quisque mollis tempus velit, nec interdum nisl sodales id.
        </p>

    </div>

</div>