@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">ANKARA YAZILIM</h1>
    
</div>
<div style="text-align:center">
    <img src="~/img/yazilim-muhendisligi.jpeg" alt="Ankara Yazılım" />
</div>
